.feed {
  
    display: flex;
    height: 100vh;
    .searchlist {
        width: 100%;
        padding: 0 20px;
        h2 {
            color: rgb(0, 0, 0);
            font-weight: 900;
            padding: 10px;
            span {
                color: red;
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .sidebar {
        width: 30% !important;
    }
}
@media screen and (max-width:500px) {
    .sidebar {
        width: 40% !important;
    }
    h3 {
        font-size: 18px;
    }
}